[submodule "Agent"]
	path = Agent
	url = https://github.com/arseniiarsenii/robonomics_qa_geoscan.git
	branch = main
[submodule "Backend"]
	path = Backend
	url = https://github.com/arseniiarsenii/robonomics-qa-backend.git
	branch = main
[submodule "EventToInternet"]
	path = EventToInternet
	url = https://github.com/arseniiarsenii/robonomics-qa-reader-daemon.git 
	branch = main
