[Unit]
Description=Feecc QA system backend
After=network.target

[Service]
Type=simple
ExecStart=/home/feecc000001/robonomics-qa/robonomics-qa-backend/venv/bin/python app.py
User=feecc000001
Restart=on-failure

[Install]
WantedBy=multi-user.target