[Unit]
Description=Feecc QA system agent
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/feecc000001/feecc_qa_geoscan/Agent
ExecStart=/home/feecc000001/feecc_qa_geoscan/Agent/venv/bin/python app.py
User=feecc000001
Restart=on-failure

[Install]
WantedBy=multi-user.target